<h1>ERROR ERROR ERROR</h1>
<form>
    <input type= "text" name="firstname"> </input>
    <input type= "text" name="lastname"> </input>
    <input type= "hidden" name="signature"> </input>
<canvas id="signature" height="100px" width="350px" style="border: 1px black solid"> </canvas>
<button> SEND </button>
 </form>
 <script type="text/javascript" src= "script.js"></script>
