<h1>PLEASE LOGIN</h1>
<form method="POST">
    <input type= "email" name="email" placeholder="E-mail address" {{#if mail}}value="{{mail}}"{{/if}}> </input>
    <input type= "password" name="password" placeholder="Password"> </input>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{#if empty}}<h3>Both fields are required.</h3>{{/if}}
    {{#if mismatch}}<h3>The password that you've entered is incorrect.</h3>{{/if}}
    {{#if nonex}}<h3>The E-mail you have entered does not exist in our website.</h3>{{/if}}
<button> SEND </button>
 </form>
