<h1>WELCOME TO MY PETITION</h1>
<form>
    <input type= "text" value="name"> </input>
    <input type= "text" value="fname"> </input>
    <input type= "hidden" value="signature"> </input>
<canvas id="signature" height="100px" width="350px" style="border: 1px black solid"> </canvas>
<button> SEND </button>
 </form>
 <script type="text/javascript" src= "script.js"></script>
