<h1>WELCOME TO MY PETITION</h1>
<form method="POST">
    <div>
        <h2> GOOD FOR THIS REASON </h2>
        <img src="/assets/selfexpress.png" alt="self express">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div>
        <h2> GOOD FOR ANOTHER REASON </h2>
        <img src="/assets/domesticviolence.png" alt="domestic violence">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div>
        <h2> GOOD FOR A LAST REASON </h2>
        <img src="/assets/Trans.svg" alt="trans flag">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <input id="imgUrl" type= "hidden" name="visual"> </input>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
<button> I AGREE ! </button>
 </form>
 <canvas id="signature" height="100px" width="350px" style="border: 1px black solid"> </canvas>

 <script type="text/javascript" src= "script.js"></script>
