<h1>WELCOME TO MY PETITION</h1>
<form method="POST">
    <input id="imgUrl" type= "hidden" name="visual"> </input>
<button> SEND </button>
 </form>
 <canvas id="signature" height="100px" width="350px" style="border: 1px black solid"> </canvas>

 <script type="text/javascript" src= "script.js"></script>
