<h1>Give us a bit more details about yourself</h1>
<form method="POST">
    <input type= "text" name="age" placeholder="Age"> </input>
    <input type= "text" name="city" placeholder="City"> </input>
    <input type= "url" name="homepage" value="https://" placeholder="Homepage URL"> </input>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
<button> SEND </button>
 </form>
