<h1>HERE IS A LIST OF THE SIGNERS</h1>
{{#results}}
<h1>{{this.fname}} {{this.lname}} </h1>
<img src= "{{this.sigraphic}}">
{{/results}}
<!-- {{#results.Result}}
<h2> heres a result </h2>
{{/results.Result}} -->
