<h1>THANK YOU FOR SIGNING, {{fname}}</h1>

<img class="thanks" id="sig" src= "{{current}}">
<p class="thanks"><a href="/signers">Click here to view the signers list</a></p>

<p class="thanks"><a href="/profile/edit">Edit Profile</a></p>
<p class="thanks"><a href="/logout">Log Out</a></p>

 <script type="text/javascript" src= "script.js"></script>

 <form method="POST">
      <button id="unsign">Click here to delete your signature</button>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
  </form>
