<h1>THANK YOU FOR SIGNING</h1>

<img id="sig" src= "{{current}}">
<p><a href="/signers">Click here to view the signers list</a></p>
<!-- <a href="">Click here to edit your profile</a>
<a href="">Click here to delete your signature</a> -->
 <script type="text/javascript" src= "script.js"></script>
